/* ============Js rating ================== */
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.star {
    cursor: pointer;
    color: #ccc;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
}
.star::before{
   content: "★ ";
}
.active {
    color: #ffc700;  
 }
.star:hover, .star:active, .hover{
    color: #c59b08;   
 }
 



/* ================csss rating==================== */

.rate {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


h2 {
    text-align: center;
    margin-top: 50px;
}